{% extends 'template.html' %}
{% load url from future %}

{% block active_front %}class="active"{% endblock %}

{% block content %}

{% include "find_by_uri.html" %}

<h1>NewsDiffs | Observe les mises à jour des articles de media en ligne.</h1><p>

<h2>NewsDiffs <a href="browse">archive les changements</a> d'un article après sa publication.<br> Actuellement, nous observons
{% for source in sources|slice:":-1" %}
<a href="{% url 'browse' source %}">{{source}}</a>,
{% endfor %}
et
<a href="{% url 'browse' sources|last %}">{{sources|last}}</a>.</h2> 

<p>

<h3>NewsDiffs (<a href="http://www.newsdiffs.org">www.newsdiffs.org</a>), est né lors du <em>Knight Mozilla MIT hackathon</em> en June 2012, pour tenter de résoudre le problème de l'archivage de l'actualité dans le monde en constante évolution qu'est journalisme en ligne.</h3>

<br />
<p>NewsDiffs en Français utilise le même moteur que l'original NewsDiffs, qui est libre.</p>
		
<p>Vous pouvez <a href="browse">parcourir</a> notre archive d'articles. Si vous êtes developpeur, vous pouvez jeter un oeil à notre <a href="https://github.com/newsdiffs-fr/newsdiffs">compte Github</a>.

<p>Pour plus d'informations, suivez <a href="http://twitter.com/newsdiffs_fr">@newsdiffs_fr</a> sur Twitter.

<p>	

{% endblock %}
